@charset "UTF-8";

*,
*::before,
*::after {
	box-sizing: border-box;
	vertical-align: baseline;
	}

	@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 700;
	src: local('Spoqa Han Sans Bold'),
	url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
	url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
	url('../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
	}

	@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	src: local('Spoqa Han Sans Regular'),
	url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
	url('../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff'),
	url('../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.ttf') format('truetype');
	}

	html {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
	}

	body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	}

	header,
	main,
	nav,
	section,
	article,
	aside,
	figure,
	figcaption,
	hgroup {
	display: block;
	}

	footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	}

	footer.fixed {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	}

	[tabindex="-1"]:focus {
	outline: 0 !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	vertical-align: middle;
	}

	blockquote,
	em,
	strong,
	small,
	p,
	pre {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	}

	ul,
	ol {
	margin: 0;
	padding: 0;
	line-height: 24px;
	}

	ul li,
	ol li {
	list-style: none;
	}

	dl,
	dt,
	dd {
	margin: 0;
	padding: 0;
	}

	a {
	color: #3f93f5;
	text-decoration: none;
	}

	a :hover {
	text-decoration: none;
	}

	table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	}

	caption {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
	font-size: 0;
	}

	th,
	td {
	box-sizing: border-box;
	font-weight: normal;
	}

	label {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block;
	cursor: pointer;
	}

	button {
	overflow: visible;
	background: none;
	border-radius: 0;
	white-space: nowrap;
	cursor: pointer;
	}

	button[disabled] {
	cursor: default;
	}

	form,
	fieldset,
	button,
	input,
	select,
	textarea {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "NanumSquare";
	}

	form,
	fieldset {
	line-height: 0;
	}

	:focus {
	outline: none;
	}

	input[type=radio] {
	vertical-align: top;
	}

	input[type=file] {
	cursor: pointer;
	}

	input[type=radio] {
	vertical-align: top;
	}

	input[type=password] {
	font-family: sans-serif;
	}

	textarea {
	resize: none;
	line-height: 1.7 !important;
	}

	img {
	vertical-align: middle;
	border: 0 none;
	}

	svg {
	overflow: hidden;
	vertical-align: middle;
	}

	em,
	address {
	font-style: normal;
	}

	#skip_nav,
	.blind {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	}

	h1,
	.h1 {
	font-size: 45px;
	}

	h2,
	.h2 {
	font-size: 36px;
	}

	h3,
	.h3 {
	font-size: 31.5px;
	}

	h4,
	.h4 {
	font-size: 27px;
	}

	h5,
	.h5 {
	font-size: 22.5px;
	}

	h6,
	.h6 {
	font-size: 18px;
	}

	h1 small,
	h2 small,
	h3 small,
	h4 small,
	h5 small,
	h6 small {
	opacity: 1;
	}

	/* ==========================================================================
	 화면공통(nav)
	 ========================================================================== */
	nav {
	color: #fff;
	width: 100%;
	height: 50px;
	line-height: 50px;
	}

	nav.inv {
	color: #EE7509;
	background: #fff;
	}

	nav.inv a {
	color: #EE7509;
	}

	nav.nav-extended {
	height: auto;
	}

	nav.nav-extended .nav-wrapper {
	min-height: 50px;
	height: auto;
	}

	nav.nav-extended .nav-content {
	position: relative;
	line-height: normal;
	}

	nav a {
	color: #fff;
	}

	nav .nav-wrapper {
	position: relative;
	height: 100%;
	}

	nav .nav-wrapper i {
	font-size: 15px;
	font-weight: 200;
	}

	nav .sidenav-trigger {
	float: left;
	position: relative;
	z-index: 1;
	height: 50px;
	margin: 0 14px;
	}

	nav .sidenav-trigger {
	height: 50px;
	line-height: 50px;
	}

	nav .nav-title {
	position: absolute;
	display: inline-block;
	font-size: 18px;
	padding: 0;
	}

	nav .nav-title.bold {
	font-weight: 600;
	}

	nav .nav-title.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	}

	nav .nav-title.left,
	nav .nav-title.right {
	padding: 0;
	-webkit-transform: none;
	transform: none;
	}

	nav .nav-title.left {
	left: 0.5rem;
	}

	nav .nav-title.right {
	right: 0.5rem;
	left: auto;
	}

	nav .nav-title.right {
	right: 0.5rem;
	padding: 0;
	}

	nav ul {
	margin: 0;
	vertical-align: middle;
	}

	nav ul li {
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	float: left;
	padding: 0;
	}

	nav ul li.active {
	background-color: rgba(0, 0, 0, 0.1);
	}

	nav ul a {
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	font-size: 1rem;
	color: #fff;
	display: block;
	padding: 0 15px;
	cursor: pointer;
	}

	nav ul li p {
	line-height: 50px;
	}

	nav ul a.btn,
	nav ul a.btn-large,
	nav ul a.btn-small,
	nav ul a.btn-large,
	nav ul a.btn-flat,
	nav ul a.btn-floating {
	margin-top: -2px;
	margin-left: 15px;
	margin-right: 15px;
	}

	nav ul a.btn > .material-icons,
	nav ul a.btn-large > .material-icons,
	nav ul a.btn-small > .material-icons,
	nav ul a.btn-large > .material-icons,
	nav ul a.btn-flat > .material-icons,
	nav ul a.btn-floating > .material-icons {
	height: inherit;
	line-height: inherit;
	}

	nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	}

	nav ul.left {
	float: left;
	line-height: 52px;
	}

	nav ul.right {
	float: right;
	line-height: 52px;
	}

	.wrapper nav .nav-shodow {
	box-shadow: 0px 3px 4px #0000000F;
	}
	.wrapper nav .nav-shodow a {
	padding: 14px 0 14px 16px;
	}
	.wrapper nav .nav-bread {
	width: 270px;
	height: 46px;
	line-height: 46px;
	border-top: 1px solid #E1E4E6;
	border-bottom: 1px solid #E1E4E6;
	}

	nav form {
	height: 100%;
	}

	nav .input-field {
	margin: 0;
	height: 100%;
	}

	nav .input-field input {
	height: 100%;
	font-size: 1.2rem;
	border: none;
	padding-left: 2rem;
	}

	nav .input-field input:focus,
	nav .input-field input[type=text]:valid,
	nav .input-field input[type=password]:valid,
	nav .input-field input[type=email]:valid,
	nav .input-field input[type=url]:valid,
	nav .input-field input[type=date]:valid {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	}

	nav .input-field label {
	top: 0;
	left: 0;
	}

	nav .input-field label i {
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: color .3s;
	transition: color .3s;
	}

	nav .input-field label.active i {
	color: #fff;
	}

	.navbar-fixed {
	position: relative;
	top: 0;
	z-index: 997;
	}

	.navbar-fixed nav {
	position: fixed;
	}

	nav.nav-extended .nav-wrapper {
	min-height: 50px;
	height: auto;
	}

	nav,
	nav .nav-wrapper i,
	nav a.sidenav-trigger,
	nav a.sidenav-trigger i {
	height: 52px;
	line-height: 52px;
	}

	.mt-nav {
	margin-top: 50px !important;
	}

	.mt-extnav {
	margin-top: 98px !important;
	}

	.mt-extnav-total {
	margin-top: 138px !important;
	}

	.h-nav {
	height: 50px !important;
	}

	.h-extnav {
	height: 98px !important;
	}

	/* floating */
	.btn-floating {
	display: inline-block;
	color: #fff;
	border: 2px solid #E0002A;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 46px;
	height: 46px;
	line-height: 46px;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 3px 6px #00000020;
	border-radius: 50%;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	cursor: pointer;
	vertical-align: middle;
	}

	.fixed-action-btn {
	position: fixed;
	right: 23px;
	bottom: 82px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997;
	}

	/* Tabs */
	.tabs {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	height: 48px;
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
	white-space: nowrap;
	}

	.tabs.tabs-transparent {
	background-color: transparent;
	}

	.tabs.tabs-transparent .tab a,
	.tabs.tabs-transparent .tab.disabled a,
	.tabs.tabs-transparent .tab.disabled a:hover {
	color: rgba(255, 255, 255, 0.7);
	}

	.tabs.tabs-transparent .tab a:hover,
	.tabs.tabs-transparent .tab a.active {
	color: #fff;
	}

	.tabs.tabs-transparent .indicator {
	background-color: #fff;
	}

	.tabs.tabs-fixed-width {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	}

	.tabs.tabs-fixed-width .tab {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	}

	.tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 48px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	}

	.tabs .tab a {
	color: rgba(0, 0, 0, 0.7);
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: color .28s ease, background-color .28s ease;
	transition: color .28s ease, background-color .28s ease;
	}

	.tabs .tab a:focus,
	.tabs .tab a:focus.active {
	background-color: #fff;
	outline: none;
	border-bottom: 3px solid #EE7509;
	}

	.tabs .tab a:hover,
	.tabs .tab a.active {
	background-color: transparent;
	color: #EE7509;
	border-bottom: 3px solid #EE7509;
	}

	.tabs .tab.disabled a,
	.tabs .tab.disabled a:hover {
	color: rgba(238, 110, 115, 0.4);
	cursor: default;
	}

	.tabs .indicator {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #EE7509;
	will-change: left, right;
	}

	.tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	}

	.tabs .tab {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	}

	.tabs .tab a {
	padding: 0 12px;
	}

	/* Bottom tabs */
	.tab_group {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 60px;
	max-height: 70px;
	z-index: 22;
	}

	.tab_group.fixed {
	position: fixed;
	bottom: 0;
	}

	.tab_btn {
	position: relative;
	width: 100%;
	text-align: center;
	}

	.tab_group > .tab_btn .tab_radio {
	display: none;
	}

	.tab_group > .tab_btn .btn_wrap {
	padding-top: 10px;
	height: 70px;
	}

	.tab_group > .tab_btn .tab_radio:not(:checked) ~ .btn_wrap {
	background-color: #636363;
	color: #FFFFFF;
	}

	.tab_group > .tab_btn .tab_radio:checked ~ .btn_wrap {
	background-color: #3B3B3B;
	color: #EE7509;
	}

	.tab_group > .tab_btn .txt_label {
	white-space: nowrap;
	line-height: 25px;
	font-size: 14px;
	}

	/* Text inputs */
	input:not([type]):focus:not([readonly]),
	input[type=text]:not(.browser-default):focus:not([readonly]),
	input[type=password]:not(.browser-default):focus:not([readonly]),
	input[type=email]:not(.browser-default):focus:not([readonly]),
	input[type=url]:not(.browser-default):focus:not([readonly]),
	input[type=time]:not(.browser-default):focus:not([readonly]),
	input[type=date]:not(.browser-default):focus:not([readonly]),
	input[type=datetime]:not(.browser-default):focus:not([readonly]),
	input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
	input[type=tel]:not(.browser-default):focus:not([readonly]),
	input[type=number]:not(.browser-default):focus:not([readonly]),
	input[type=search]:not(.browser-default):focus:not([readonly]),
	textarea: focus :not([readonly]) {
	border: 1px solid #E0002A;
}

input.under-line:not([type]):focus:not([readonly]),
input.under-line[type=text]:not(.browser-default):focus:not([readonly]),
input.under-line[type=password]:not(.browser-default):focus:not([readonly]),
input.under-line[type=email]:not(.browser-default):focus:not([readonly]),
input.under-line[type=url]:not(.browser-default):focus:not([readonly]),
input.under-line[type=time]:not(.browser-default):focus:not([readonly]),
input.under-line[type=date]:not(.browser-default):focus:not([readonly]),
input.under-line[type=datetime]:not(.browser-default):focus:not([readonly]),
input.under-line[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input.under-line[type=tel]:not(.browser-default):focus:not([readonly]),
input.under-line[type=number]:not(.browser-default):focus:not([readonly]),
input.under-line[type=search]:not(.browser-default):focus:not(
[readonly]) {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #E0002A;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)
[readonly="readonly"], textarea:disabled, textarea[readonly="readonly"] {
	background-color: rgba(220, 220, 220, 0.3);
	color: rgba(153, 153, 153, 0.8);
	border: 1px solid rgba(183, 183, 183, 0.5);
}

/* Dropdown
 ========================================================================== */
.dropdown-content {
	background-color: #fff;
	margin: 0;
	display: none;
	min-width: 100px;
	overflow-y: auto;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content:focus {
	outline: 0;
}

.dropdown-content li {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	height: 45px;
	min-height: 40px;
	line-height: 1rem;
	width: 100%;
	text-align: left;
}

.dropdown-content li:hover, .dropdown-content li.active {
	background-color: #eee;
}

.dropdown-content li:focus {
	outline: none;
}

.dropdown-content li.divider {
	min-height: 0;
	height: 1px;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 14px;
	color: #333333;
	display: block;
	line-height: 22px;
	padding: 14px 16px;
}

.dropdown-content li > span > label {
	top: 1px;
	left: 0;
	height: 18px;
}

.dropdown-content li > a > i {
	height: inherit;
	line-height: inherit;
	float: left;
	margin: 0 24px 0 0;
	width: 24px;
}

body.keyboard-focused .dropdown-content li:focus {
	background-color: #dadada;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
	top: 1px;
	left: 0;
	height: 18px;
	-webkit-transform: none;
	transform: none;
}

.dropdown-trigger {
	cursor: pointer;
}

/* Switch
 ========================================================================== */
.switch, .switch * {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.switch label {
	cursor: pointer;
}

.switch label input[type=checkbox] {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: #EE7509;
}

.switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
	left: 23px;
}

.switch label input[type=checkbox]:checked + .lever:after {
	background-color: #FFFFFF;
}

.switch label .lever {
	content: "";
	display: inline-block;
	position: relative;
	width: 52px;
	height: 30px;
	background-color: #DCDCDC;
	border-radius: 15px;
	margin-right: 10px;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	vertical-align: middle;
	margin: 0 16px;
}

.switch label .lever:before, .switch label .lever:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	left: 0;
	top: 1px;
	-webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
	transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
	transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
	transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.switch label .lever:before {
	background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever:after {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~
.lever::before {
	-webkit-transform: scale(2.4);
	transform: scale(2.4);
	background-color: rgba(38, 166, 154, 0.15);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~
.lever::before {
	-webkit-transform: scale(2.4);
	transform: scale(2.4);
	background-color: rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox][disabled] + .lever {
	cursor: default;
	background-color: rgba(0, 0, 0, 0.12);
}

.switch label input[type=checkbox][disabled] + .lever:after, .switch label input[type=checkbox][disabled]:checked + .lever:after {
	background-color: #949494;
}

/* Select Field
 ==========================================================================
 */
select.browser-default {
	display: block;
}

select {
	width: 100%;
	padding: 10px;
	border: 1px solid #B7B7B7;
	color: #333333;
	font-size: 14px;
}

select:focus {
	border: 1px solid #e31837;
}

select:disabled {
	background-color: rgba(220, 220, 220, 0.3);
	color: rgba(153, 153, 153, 0.8);
	border: 1px solid rgba(183, 183, 183, 0.5);
}

.select-label {
	position: absolute;
}

.select-wrapper {
	position: relative;
}

.select-wrapper.valid + label, .select-wrapper.invalid + label {
	width: 100%;
	pointer-events: none;
}

.select-wrapper input.select-dropdown {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #9e9e9e;
	outline: none;
	height: 40px;
	line-height: 3rem;
	width: 100%;
	font-size: 14px;
	margin: 0 0 8px 0;
	padding: 0;
	text-indent: 14px;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
}

.select-wrapper input.select-dropdown:focus {
	border: 1px solid #e51737;
}

.select-wrapper .caret {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 0;
	fill: rgba(0, 0, 0, 0.87);
}

.select-wrapper + label {
	position: absolute;
	top: -26px;
	font-size: 0.8 rem;
}

select:disabled {
	color: rgba(0, 0, 0, 0.42);
}

.select-wrapper.disabled + label {
	color: rgba(0, 0, 0, 0.42);
}

.select-wrapper.disabled .caret {
	fill: rgba(0, 0, 0, 0.42);
}

.select-wrapper input.select-dropdown:disabled {
	color: rgba(0, 0, 0, 0.42);
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-wrapper i {
	color: rgba(0, 0, 0, 0.3);
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
	color: rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

body.keyboard-focused .select-dropdown.dropdown-content li:focus {
	background-color: rgba(0, 0, 0, 0.08);
}

.select-dropdown.dropdown-content li:hover {
	background-color: rgba(0, 0, 0, 0.08);
}

.select-dropdown.dropdown-content li.selected {
	background-color: rgba(0, 0, 0, 0.03);
}

.prefix ~
.select-wrapper {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem);
}

.prefix ~
label {
	margin-left: 3rem;
}

.select-dropdown li img {
	height: 40px;
	width: 40px;
	margin: 5px 15px;
	float: right;
}

.select-dropdown li.optgroup {
	border-top: 1px solid #eee;
}

.select-dropdown li.optgroup.selected > span {
	color: rgba(0, 0, 0, 0.7);
}

.select-dropdown li.optgroup > span {
	color: rgba(0, 0, 0, 0.4);
}

.select-dropdown li.optgroup ~
li.optgroup-option {
	padding-left: 1rem;
}

/* Checkboxes
 ========================================================================== */
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

[type="checkbox"] {
	/* checkbox aspect */
}

[type="checkbox"] + span:not(.lever) {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[type="checkbox"]:not(.filled-in) +
span:not(.lever):after {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 18px;
	height: 18px;
	z-index: 0;
	border: 1px solid #B7B7B7;
	border-radius: 50%;
}

[type="checkbox"] + span:not(.lever):after {
	content: '';
	background-color: transparent;
}

[type="checkbox"]:checked + span:not(.lever):after {
	background-color: #49C7E1;
	border: none;
}

[type="checkbox"]:disabled + span:not(.lever):after {
	border: 1px solid rgba(183, 183, 183, 0.5);
	background-color: rgba(220, 220, 220, 0.3);
}

[type="checkbox"]:not(:checked)
:disabled + span:not(.lever):before {
	border: none;
}

[type="checkbox"] + span:not(.lever):before {
	font-family: 'HnsIcon' !important;
	font-size: 2px;
	content: "\e91f";
	position: absolute;
	color: #B7B7B7;
	opacity: 0.25;
	left: 3px;
	top: -4px;
}

[type="checkbox"]:checked + span:not(.lever):before {
	opacity: 1;
	color: #FFFFFF;
	z-index: 1;
}

[type="checkbox"]:checked:disabled + span:before {
	color: #999999;
	opacity: 0.5;
}

/* selected */
.list-content.selected {
	background-color: #FFFBF1;
	border: 2px solid #FFAD63;
}

.list-content-border.selected {
	background-color: #FFFBF1;
	border: 2px solid #FFAD63;
}

.list-content-border > .checkbox_wrap {
	position: absolute;
	right: 10px;
	top: 15px;
}

.list-content > .checkbox_wrap {
	position: absolute;
	right: 15px;
	top: 25px;
}

/*
 .list-content-border.selected > .checkbox_wrap {
 visibility: visible;
 }
 */

/* ==========================================================================
 화면공통
 ========================================================================== */
.header-container {
	height: 50px;
}

.body-container {
	display: flex;
	flex-direction: column;
}

.main-container {
	flex-grow: 1;
	overflow-y: auto;
	flex-direction: column;
}

.total_warp {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	font-size: 13px;
}

.div_bottom-content {
	width: 100%;
	height: 100%;
	background-color: #E5E5E5;
	position: absolute;
	z-index: -10;
}

.div_bottom-content-white {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	position: absolute;
	z-index: -10;
}

.div_bg-popup-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 998;
}

/* icon */
.ico {
	display: inline-block;
	line-height: 1;
}

.ico_size_m {
	font-size: 14px;
}

/* button */
.btn_n {
	min-height: 38px;
	min-width: 80px;
	color: #666666;
	border: 1px solid #DCDCDC;
	text-align: center;
	padding: 0 10px;
}

.btn_s {
	height: 24px;
	font-size: 12px;
}

.btn_m {
	height: 38px;
	font-size: 12px;
}

.btn_l {
	height: 48px;
	font-size: 16px;
}

.btn_s_icon {
	height: 18px;
	font-size: 11px;
	padding: 2px 4px;
}

.btn_round {
	border-radius: 10px;
}

.btn_round2 {
	border-radius: 50px;
}

.btn_n:disabled, .btn_icon:disabled {
	cursor: default;
	opacity: .5;
}

/* list */

.coupon-list-content {
	width: 100%;
	padding: 5px 0px;
}
.coupon-list-content > img {
	width: 100%;
}
.coupon-list-content .coupon-list-text {
	padding: 10px 15px;
}
.coupon-list-content .coupon-list-text .list-tit {
	color: #212121;
	font-size: 14px;
}
.coupon-list-content .coupon-list-text .list-sub {
	color: #83888B;
	font-size: 11px;
}
.coupon-list-sale {
	padding: 0 15px;
}
.coupon-list-sale .conpon-list-title {
	background-color: #f5f8f8;
	color: #3EC1BC;
	font-size: 11px;
	text-align: center;
}
.coupon-list-sale .coupon-list-sale-content .room {
	font-size: 9px;
}
.coupon-list-sale .coupon-list-sale-content span {
	font-size: 9px;
	padding: 2px;
}
.coupon-list-sale .coupon-list-sale-content .strike {
	font-size: 11px;
	color: #83888B;
	text-decoration: line-through;
}
.coupon-list-sale .coupon-list-sale-content .price {
	font-size: 18px;
	font-weight: bold;
	color: #212121;
}
.coupon-list-sale .coupon-list-sale-content .text_s {
	font-size: 12px;
	font-weight: normal;
	padding: 0;
}
.coupon-list-sale .coupon-list-sale-content .coupon-list-list {
	padding: 20px 8px;
	background-color: #fff;
	border-top: 1px solid #E8F2F2;
	border-left: 1px solid #E8F2F2;
	border-bottom: 1px solid #E8F2F2;
	border-right: 1px solid #E8F2F2;
}
.coupon-list-sale .coupon_btn {
	width: 100%;
	margin-top: 8px;
	padding: 10px 0;
	border-radius: 3px;
}

/* ==========================================================================
 MAI_0101
 ========================================================================== */

/* ==========================================================================
 Page NEW_0201
 ========================================================================== */
.item-content {
	font-size: 14px;
	color: #666666;
	margin: 20px 0 6px 0;
}

input.edge.number {
	height: 40px;
	width: 100%;
	padding: 0 6px;
	border: 1px solid #B7B7B7;
	color: #666666;
	font-size: 14px;
	vertical-align: middle;
	box-sizing: border-box;
}

input.edge.under-line {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #B7B7B7;
}

span.badge {
	padding: 0 8px;
	text-align: center;
	font-size: 13px;
	line-height: 22px;
	min-height: 22px;
	color: #757575;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.toggle_group {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
}

.tg_btn {
	position: relative;
	width: 100%;
	text-align: center;
}

.toggle_group > .tg_btn .tg_radio {
	display: none;
}

.toggle_group > .tg_btn .tg_radio:checked ~ .btn_n,
.toggle_group > .tg_btn .tg_radio:checked ~
.btn_icon {
	color: #EE7509;
	border: 1px solid #EE7509;
	font-weight: bold;
}

.toggle_group > .tg_btn .tg_radio:checked ~
.btn_n.style {
	color: #EE7509;
	background-color: #fff;
	border: 1px solid #EE7509;
	border-bottom: 0;
	font-weight: bold;
}

.toggle_group .tg_btn .btn_n.style {
	background-color: #F7F7F7;
	border-bottom: 1px solid #EE7509;
}

.toggle_group > .tg_btn .txt_label {
	white-space: nowrap;
	line-height: 40px;
}

.input-field {
	position: relative;
}

.input_text_area {
	padding-right: 40px !important;
}

.input-disabled {
	background-color: rgba(220, 220, 220, 0.3);
	color: rgba(153, 153, 153, 0.8);
	border: 1px solid rgba(183, 183, 183, 0.5);
	pointer-events: none;
}

.textarea {
	height: 238px;
	width: 328px;
	padding: 12px;
	color: #7E7E7E;
	font-size: 12px;
	background: #F5F8F8 0% 0% no-repeat padding-box;
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	vertical-align: top;
}

.textarea2 {
	width: 360px;
	height: 134px;
	color: #4B4B4B;
	background: #F5F8F8 0% 0% no-repeat padding-box;
	padding: 18px 12px;
	font-size: 12px;
	box-sizing: border-box;
	vertical-align: top;
	overflow-y: hidden;
}

.btn_icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	height: auto;
	box-sizing: border-box;
}

/* ==========================================================================
 Page NEW_0102
 ========================================================================== */

.container-open {
	margin: 10px 10px 0 10px;
	padding: 0 15px;
	border-radius: 3px;
	height: 50px;
	line-height: 50px;
}

.container-close {
	margin: 10px 10px 0 10px;
	padding: 0 16px 16px 16px;
	border-radius: 3px;
}

.button-box {
	width: 25px;
	height: 25px;
	margin-top: 12px;
	padding: 5px;
}

.container-open .container-tit .tit-txt, .container-close .container-tit .tit-txt {
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.container-close .container-tit {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #71737A33;
}

/* ==========================================================================
 FORM
 ========================================================================== */
input.edge {
	height: 40px;
	width: 100%;
	padding: 3px 0 8px 4px;
	border: 1px solid #E1E4E6;
	color: #212121;
	font-size: 16px;
	vertical-align: middle;
	box-sizing: border-box;
}

.label {
	font-size: 10px;
	color: #868687;
	padding-left: 4px;
}

.form_g {
	position: relative;
}

.form_btn {
	width: 88px;
	height: 24px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #C7C7C7;
	color: #4D5256;
	position: absolute;
	top: 5px;
	right: 0;
}

.list.container-close {
	background-color: #fff;
	margin: 8px 0 0 0;
	border-radius: 0;
}

.list.container-open {
	background-color: #fff;
	margin: 8px 0 0 0;
	border-radius: 0;
}

/* ==========================================================================
 FOOTER
 ========================================================================== */

.footer {
	background-color: #EFF3F3;
	padding: 24px 16px 16px 16px;
}
.collapsible-header, .collapsible-body, .collapsed {
	background-color: #EFF3F3;
}
.footer .footer-title .left {
	float: left;
	font-size: 12px;
	font-weight: bold;
}
.footer .footer-title .right {
	float: right;
	font-size: 10px;
	margin-right: 15px;
}
.footer .footer-title .right a {
	color: #83888B;
}
.footer-agree ul li {
	display: inline-block;
	font-size: 11px;
	color: #83888B;
	letter-spacing: -0.55px;
}
.footer-agree ul li a {
	color: #83888B;
}
.footer-agree ul li a:after {
	content: '';
	background-color: #83888B;
	display: inline-block;
	width: 1px;
	height: 11px;
	box-sizing: border-box;
	margin: 0 -1px -2px 0px;
}
.footer-agree ul li:last-child a:after {
	content: '';
	background-color: transparent;
}
